body{
    background: #23242a;
    overflow-y: hidden;
}
.tops{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text h1{
    font-weight: 600;
    color: white;
    font-size: large;
}
.text h4{
    color: white;
    font-size: small;
    margin-bottom: 5px;
}
.tops img{
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.411);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}
.new{
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.411);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.linkss{
    display: flex;
}
.chatsss{
    background: dodgerblue;
}
.chatsssnot{
    background: rgba(255, 255, 255, 0.486);
}
.linkss button{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.486); */
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 10px;
}

.peoplesss{
    background: dodgerblue;
}
.peoplesssnot{
    background: rgba(255, 255, 255, 0.486);
}
.groupsss{
    background: dodgerblue;
}
.groupsssnot{
    background: rgba(255, 255, 255, 0.486);
}
.linkss button img{
    margin-right: 5px;
    height: 20px;
    width: 20px;
}
.linksss{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;

}
.linksss button{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    padding: 5px 20px;
    border-radius: 10px;
}
.linksss .active{
    color: dodgerblue;
    background: rgba(30, 143, 255, 0.205);
}
.linksss .not{
    color: white;
    background: rgba(255, 255, 255, 0.486);
}
.chat, .groups{
    color: white;
    position: absolute;
    height: 45vh;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out;
}
.chat::-webkit-scrollbar,
.groups::-webkit-scrollbar{
    width: 0.5rem;
}
.chat::-webkit-scrollbar-track,
.groups::-webkit-scrollbar-track{
    background: transparent;
}
.chat::-webkit-scrollbar-thumb,
.groups::-webkit-scrollbar-thumb{
    background: darkcyan;
}
.chatnot{
    position: absolute;
    left: -2000px;
    transition: all 0.3s ease-in-out;
}
.groupsnot{
    position: absolute;
    right: 1000px;
    transition: all 0.3s ease-in-out;
}
.chaturl{
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 10px 20px;
    width: 280px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.075);

}
.chaturl1{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px 20px;
    width: 280px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.075);

}
.chaturl a{
    display: grid;
    grid-template-columns: 40% 60%;
}
.selected{
    background: rgba(255, 255, 255, 0.301);
}
.chaturl .image, .chaturl1 .image{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    object-fit: cover;
    margin-left: 14px;
    background: grey;
}
.username{
    color: dodgerblue;
}
.join{
    width: 40px;
    height: 40px;
    background: rgba(30, 143, 255, 0.39);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.mes{
    width: 40px;
    height: 40px;
    background: rgba(25, 221, 18, 0.411);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}