.item1{
    display: flex;
    min-height: 40rem;
    min-width: 30rem;
    padding: 40px;
}

.item1 img{
    width: 500px;
    height: 500px;
    border-radius: 2rem;
    margin-right: 40px;
}
.carousel1{
    width: 100%;
    background: pink;
}
.wrapper1{
    cursor: grab;
    overflow: hidden;
    width: fit-content;
    background: firebrick;
}